<!DOCTYPE html>
<html>
<head>
    <% include ../templates/head.ejs %>
</head>
<body>
<% include ../templates/navigation.ejs %>
<main>
    <% include ../templates/panel.ejs %>

</main>
<% include ../templates/footer.ejs %>
</body>
</html>
