<!DOCTYPE html>
<html>
<head>
    <% include ../templates/head.ejs %>
</head>

<body>
<section>
    <form action="/admin/article" method="post" enctype="multipart/form-data">
        <label for="title">Tytuł</label>
        <input type="text" name="title" id="title" required>

        <label for="author">Autor</label>
        <input type="text" name="author" id="author" required>

        <label for="picture">Obraz artykułu</label>
        <input type="file" name="picture" id="picture" required>

        <label for="content">Treść</label>
        <textarea name="content" id="area" cols="30" rows="10" id="content" required></textarea>

        <label for="tags">Tagi</label>
        <input type="text" id="tags" name="tags">

        <input type="submit" value="Create a Article">
    </form>

</section>
<% include ../templates/scripts.ejs %>
</body>
</html>
