<!DOCTYPE html>
<html>
<head>
    <% include ../templates/head.ejs %>
</head>
<body>
<% include ../templates/navigation.ejs %>
<main>
    <div class="login-form">
        <form method="post">
            <label for="username">Login:</label>
            <br/>
            <input type="text" name="username" required>
            <br/>
            <label for="password">Password:</label>
            <br/>
            <input type="password" name="password" required>
            <br/>
            <input class="submit-button" type="submit" value="Log in">
        </form>
    </div>
</main>
<% include ../templates/footer.ejs %>
</body>
</html>
