<!DOCTYPE html>
<html lang="pl">
<head>
    <% include ./templates/head.ejs %>
</head>
<body>
<% include ./templates/navigation.ejs %>
<main>
    <section>
        <h2>O Mnie słów kilka</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis dui sed nunc mollis fringilla.
            Curabitur laoreet eros ut nisl tempor tincidunt. Suspendisse non vestibulum lacus. Sed eu orci in mi
            lobortis tempus non quis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam nec
            placerat leo. Fusce bibendum egestas augue, a maximus metus cursus sit amet. Ut sit amet nibh vitae quam
            vulputate hendrerit nec eu odio. Ut ut ultrices leo. Maecenas at mi congue, suscipit felis sit amet,
            pellentesque nibh. Mauris viverra eros sit amet justo placerat vestibulum. Vestibulum sed turpis ac urna
            porta sodales nec at nulla. Vestibulum a posuere erat. Praesent viverra sapien ante, et dapibus tellus
            tristique et. Cras viverra varius feugiat.

            Donec lectus quam, commodo nec risus quis, posuere malesuada felis. Donec mauris ipsum, cursus quis vehicula
            vel, imperdiet et metus. Duis tincidunt, arcu vel vestibulum aliquam, justo ex blandit mi, at hendrerit nunc
            eros in turpis. Mauris venenatis lacinia varius. Donec vitae neque ac diam blandit pretium et eu nisl. Sed
            laoreet dapibus tellus, ac vestibulum neque vestibulum posuere. Suspendisse feugiat est leo, ullamcorper
            consectetur purus aliquam at. Vestibulum vel bibendum ex, id blandit ipsum. Sed ut neque sed lorem
            pellentesque dapibus.

            Etiam efficitur sem in hendrerit dapibus. Vivamus vitae cursus nunc. Vestibulum dictum volutpat mauris ac
            vestibulum. Vivamus vel sapien eget purus aliquam finibus. Maecenas in neque sit amet libero ultricies
            tincidunt a sed eros. Sed tempor tellus vel turpis lacinia vulputate. Duis at porttitor odio, vitae interdum
            nisi. Sed finibus tellus fringilla porta suscipit. Phasellus pretium turpis vel pellentesque fermentum.
            Vivamus dictum turpis et dui convallis ultricies. Sed congue cursus aliquam. Proin feugiat ligula non orci
            finibus consequat. Sed a imperdiet ligula. Vestibulum tellus enim, semper vitae volutpat at, hendrerit a
            felis. Donec tempor convallis porta.</p>
    </section>
</main>
<% include ./templates/scripts.ejs %>
</body>
</html>
