<!DOCTYPE html>
<html lang="pl">

<head>
  <% include ./templates/head.ejs %>
</head>

<body>
  <% include ./templates/navigation.ejs%>
    <section class='main-article'>
      <div>
        <h2 class="main-article__title"><%- articleTitle %></h2>
        <p class="main-article__content">
          <%- articleContent %>
        </p>
      </div>
    </section>
    <% include ./templates/scripts.ejs %>
</body>

</html>
