<!DOCTYPE html>
<html lang="pl">
<head>
    <% include ./templates/head.ejs %>
</head>
<body>
<div class="container">
    <% include ./templates/navigation.ejs %>
    <section>
        <div>
            <h2 class="section-heading"><%- articleTitle %></h2>
            <div> <%- articleContent %></div>
        </div>
    </section>
</div>
<% include ./templates/scripts.ejs %>
</body>
</html>
