<!DOCTYPE html>
<html lang="pl">
<head>
    <% include templates/head.ejs %>
</head>
<body>
<% include templates/navigation.ejs %>
<main>
    <% for(var i = 0; i < articles.length; i++) { %>
    <article>
        <h2><%= articles[i].title %></h2>

    </article>
    <% } %>
</main>

<% include templates/footer.ejs %>
</body>
</html>
