<!DOCTYPE html>
<html lang="pl">
<head>
    <% include ./templates/head.ejs %>
</head>
<body>
<% include ./templates/navigation.ejs%>
<section>
    <div>
        <h2 class="section-heading"><%- articleTitle %></h2>
        <p> <%- articleContent %> </p>
    </div>
</section>
<% include ./templates/scripts.ejs %>
</body>
</html>
