<!DOCTYPE html>
<html lang="pl">
<head>
    <% include templates/head.ejs %>
</head>
<body>
<% include templates/navigation.ejs %>
<p>
    <%= articleContent %>
</p>

<% include templates/footer.ejs %>
</body>
</html>
