<title><%= title %> :: </title>
<link rel='stylesheet' href='/stylesheets/reset.css'/>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/tagify.css'/>
<link rel='stylesheet' href='/font/css/font-awesome.min.css'/>
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:100" rel="stylesheet">