<header class="header">
    <link rel="stylesheet" href="">
    <h1 class="header-title"><a href="/"><%= title %></a></h1>
    <nav class="navigation">
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/about">O autorze</a></li>
            <li><a href="">Kategorie</a></li>
        </ul>
    </nav>
</header>
