<header class="header">
    <h1><%= title %></h1>
    <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation-list-element">
                <a href="/galery">Galeria</a>
            </li>
            <li class="navigation-list-element">
                <a href="/about">O mnie</a>
            </li>
            <li class="navigation-list-element">
                <a href="/contact">Kontakt</a>
            </li>
        </ul>
    </nav>
</header>