<nav class="navigation animated bounceInDown">
        <ul class="navigation-list">
            <li class="navigation-element">
                <a class="navigation-element-link" href="/">O mnie</a>
            </li>
            <li class="navigation-element">
                <a class="navigation-element-link" href="/articles/1">Galeria</a>
            </li>
            <li class="navigation-element">
                <a class="navigation-element-link" href="/contact">Kontakt</a>
            </li>
        </ul>
    </nav>
