<header class='header'>
	<h1 class='logo'><a href='/'><%= title %></a></h1>
	<nav class='nav-menu'>
		<ul>
			<li><a href="/"> Strona główna </a></li>
			<li><a href="">Kategorie</a></li>
			<li><a href="/about"> Kim jesteśmy? </a></li>
		</ul>
	</nav>
</header>