<nav class="panel">
    <ul class="panel-list">
        <li><a href="/admin/article">Add Article</a></li>
        <li><a href="/admin/category">Add Category</a></li>
        <li><a href="/admin/subcategory">Add Subcategory</a></li>
        <li class="logout"><a href="/admin/logout">Logout</a></li>
    </ul>
</nav>