body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


header {  }


h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; font-weight: bold; }


p { font-family: 'Open Sans', sans-serif; font-size: 1em; }


h1 { font-size: 2em;}


h2 { font-size: 1.8em;}


h3 { font-size: 1.6em; }


h4 { font-size: 1.4em; }


h5 { font-size: 1.2em; }


a { text-decoration: none;}


a:visited { text-decoration: none;}


.visuallyHidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }

.link-decorated { text-decoration: underline; }

.main {
    min-height: 85vh;
    width: 100%;
    }
.main-container {
    background-color: #FFFFFF;
    box-shadow: 9px 8px 5px 0px rgba(0,0,0,0.65);
    width: 60%;
    margin-bottom: 25px;
    }
.header {
    color: rgba(89, 89, 89, 1);
    font-family: 'Open Sans', sans-serif;
    }

.footer {
    height: 5vh;
    font-size: 1.1em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.footer a  {
    color: black;
    }
/** Navigation **/

.navigation {
    display: flex;
    width: 60%;
    align-items: center;
    min-height: 5rem;
    margin-bottom: 25px;
    margin-top: 10px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    box-shadow: -1px 2px 19px -2px rgba(0, 0, 0, 0.75);
    }

.navigation-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    }

.navigation-element {
    margin-left: 40px;
    margin-right: 40px;
    height: 100%;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.8em;
    background-color: #FFFFFF;
    transition-duration:250ms;
    transition-timing-function: ease-in;
    }
.navigation-element:hover {
    background-color: #D0D0D0;
    transform: scale(1.01,1.01);
    }
.navigation-element a:focus {
    outline: 0;
    }
.navigation-element-is-focused {
    background-color: #D0D0D0;
    transform: scale(1.01,1.01);
    }
.navigation-element-link {
    color: black;
    transition-duration:250ms;
    transition-timing-function: ease-in;
    }
.navigation-element-link:visited {
    color: black;
    }

/** Sections  **/
.section {
    display: flex;
    justify-content: center;
    }
.section-heading {
    text-align: center;
    margin-bottom: 10px;
    }
.section-container {
    min-height: 40px;
    color: black;
    padding: 100px;
    width: 100%;
    }
.section-container--login {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.about-example_work {
    margin-top: 10px;
    width: 100%;
    }
/** Section articles **/
.section--articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    }
.articles-item{
    min-width: 15%;
    min-height: 15%;
    padding: 15px;
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.article-img {
    width: 100%; /* or any custom size */
    height: 100%;
    display: block;
    }
.article-up {
    width: 150px;
    height: 150px;
    }
.article-down {
    margin-top: 35px;
    margin-bottom: 15px;
    }
.article-more {
    padding: 15px;
    background-color: #2C3E50;
    text-transform: uppercase;
    font-weight: 600;
    }



.bounceInDown {
    animation-name: bounceInDown;
    }

.animated {
    animation-duration: 850ms;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
.contact-list {
    font-size: 1.8em;
    text-align: center;
    margin-top: 50px;
    list-style-type: none;
    }

.section--login {
    display: flex;
    justify-content: center;
    }

.login-form {
    margin-top: 15%;
    display: flex;
    width: 50%;
    height: 15rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }
.login-input {
    height: 20%;
    border: 1px solid black;
    }
.submit-button {
    height: 25%;
    }
.login-input:focus {
    background-color: #FFFFFF;
    }
.articles-container {
    widht: 100%;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    }
.pages ul {
list-style-type: none;
    display: flex;
    justify-content: center;
    }
.pages ul li {
    margin: 40px;
    }
.pages-link {
    color: black;
    font-size: 1.3em;
    font-weight: 700;
    border: 1px solid black;
    }
.pages-link-isActive {
    border: 1px solid red;
    }
.pages-link:visited {
    color:black;
    }
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
        }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
        }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
        }

    to {
        -webkit-transform: none;
        transform: none;
        }
    }
